@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

html{
    background-color: #FFF4E3;
}

.container {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    width: 40rem;
    height: 26.9rem;
    display: grid;
    background-color: #95BDCA;
    padding: 1.65rem 2.25rem;
    justify-self: center;
    align-self: center;
    box-shadow: 7px 9px 5px #00000025;
}

.datos {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto {
    background-color: rgb(255, 255, 255);
    padding: 1.5rem;
    border-radius: 2rem;
}

p {
    font-size: 0.8rem;
}

h3{
    margin: 0.8rem;
}

label {
    display: flex;
    align-items: end;
    justify-content: end;
    margin: 0.2rem;
    font-size: 0.8rem;
}

input, input:focus {
    margin-left: 4rem;
    height: 1.4rem;
    width: 18rem;
    border: none;
    border-style: none;
    outline-style: none;
    padding: 0.3rem;
}

#idfoto {
    width: 7.63rem;
    height: 10.82rem;
    margin-right: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.4rem;
    border: 1px solid black;
}